.about {
  $root : &;
  opacity: 0;
  transform: translateX(-2rem);
  transition: opacity ease 0.9s, transform ease 0.9s;

  &.visible{
  transform: translateX(0rem);
    opacity: 1;
  }

  h1 {
    font-family: 'Product Sans Regular';
    color: $primary-color;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  p {
    color: $primary-color;
    font-family: 'Fira Mono';
    font-size: 1rem;
    line-height: 30px;
  }
  &__content{
    display: flex;
    
    #{$root}__image__container{
      width: 20rem;
      margin-right: 4rem;
      display: flex;
      align-items: center;

      &__image{
        margin-left: 1.3rem;
        margin-top: 1.3rem;
        border: solid 1px white;
      }

      img{
        // box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
        width: 20rem;
        height: 20rem;
        transform: translate(-1.3rem, -1.3rem);
      }
    }

    #{$root}__text{
      display: flex;
      flex-direction: column;
      justify-content: center;

      #{$root}__technologies{
        margin-top: 1rem;
        color: $primary-color;
        &__grid{
          display: grid;
          padding-left: 2rem;
          grid-gap: 1rem;
          grid-template-columns: 1fr 1fr;
          ul{
            margin-top: 1rem;
            color: $primary-color;
            font-family: 'Fira Mono';
            font-size: 0.8rem;
            line-height: 30px;
            li{
              padding-left: 0.2rem;
            }
          }
        }
      }
    }
  }
}

@include mediaMd {
  .about {
    $root: &;
    h1 {
      font-size: 1.6rem;  
    }
    p{
      font-size: 1rem;
    }
    &__content{
      display: block;
      #{$root}__image__container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: unset;
        margin-bottom: 2rem;
        img{
          width: 20rem;
        }
      }
    }
  }
}

@include mediaXs {
  .about {
    p {
      font-size: 1rem;
    }
  }
}