.projects {
  opacity: 0;
  transform: translateX(-2rem);
  transition: opacity ease 0.9s, transform ease 0.9s;

  &.visible {
    transform: translateX(0rem);
    opacity: 1;
  }

  h1 {
    font-family: "Product Sans Regular";
    color: $primary-color;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  &__project-container {
    $root: ".project-container";
    // position: relative;
    margin-bottom: 5rem;
    display: flex;
    width: 100%;
    height: 20rem;
    
    #{$root}__image {
      width: 55%;
      height: 20rem;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      position: relative;
      box-shadow: 4px 4px 15px rgba($color: #000000, $alpha: 0.1);

      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($background-primary-color, $alpha: 0.7);
        transition: background 0.3s ease-in-out;
      }
      &:hover::after{
        background: rgba($background-primary-color, $alpha: 0.0);          
      }
    }

    #{$root}__description {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      width: 45%;
      color: $secondary-color;
      font-family: "Product Sans Regular", "Roboto", sans-serif;
      position: relative;

      #{$root}__textbox {
        box-shadow: 4px 4px 15px rgba($color: #000000, $alpha: 0.1);
        padding: 2rem 1.5rem;
        color: $primary-color;
        display: flex;
        align-items: center;
        height: 10rem;
        width: 118%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background: lighten($color: $background-primary-color, $amount: 3%);
      }
      #{$root}__title {
        font-size: 1.5rem;
        margin-left: auto;
        font-weight: bold;
      }
      #{$root}__tech{
        margin-top: auto;
        margin-left: auto;
        font-size: 0.8rem;
        font-family: "Fira Mono", sans-serif !important;
        color: $primary-color;
      }
      #{$root}__links {
        margin-left: auto;
        margin-top: 1.7rem;
        img {
          width: 1.5rem;
        }
      }
    }

    &:nth-child(2n-1) {
      flex-direction: row-reverse;
      #{$root}__textbox {
        right: unset;
        left: 0;
      }
      #{$root}__title {
        margin-left: unset;
      }
      #{$root}__tech{
        margin-left: 0;
        margin-right: auto;
      }
      #{$root}__links {
        margin-left: unset;
      }
    }
  }

  &__other-projects{
    margin-top: 8rem;
    text-align: center;
    color: $secondary-color;
    font-family: "Product Sans Regular", "Roboto", sans-serif;

    &__header{
      font-size: 1.8rem !important;
    }

    &__folders{
      margin-top: 4rem;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 330px);
      gap: 1rem;
      flex-wrap: wrap;
    }
    &__folder{
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      margin-top: 20px;
      height: 350px;
      padding: 1.5rem;
      text-align: left;
      box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: .3);
      transition: transform 300ms ease;
      background: lighten($color: $background-primary-color, $amount: 1%);
      &:hover, &:focus-within{
        transform: translateY(-20px);
      }

      &__link{
        display: flex;
        a{
          img{
            width: 24px;
            height: 24px;
          }
        }
        margin-bottom: 2rem;
      }
      
      &__title{
        font-size: 1.3rem;
        height: 4rem;
      }
      
      &__description{
        color: $primary-color;
        line-height: 1.4rem;
      }

      &__tech{
        margin-top: auto;
        font-size: 0.8rem;
        font-family: "Fira Mono", sans-serif !important;
      }
    }
  }
}

@include mediaMd {
  .projects {
    h1 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1rem;
    }
    &__project-container {
      $root: ".project-container";

      #{$root}__description{
        #{$root}__title{
          font-size: 1.5rem;
        }
      }

    }
    &__other-projects{
      &__header{
        font-size: 2rem !important;
      }
  
      &__folders{
        grid-template-columns: repeat(3, 250px);
        &__folder{
          height: 300px;
          justify-items: center;
          // background: red;
          box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: .3);
        }
      }
    }
  }
}

@include mediaSm{
  .projects {
    &__project-container {
      $root: ".project-container";
      position: relative;
      width: 100%;
      #{$root}__image{
        width: 100%;
        &::after{
          background: rgba($color:$background-primary-color, $alpha: 0.85)
        }
      }
      #{$root}__description{
        padding: 1rem;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        #{$root}__title{
          color: $primary-color;
          margin-left: 0;
        }
        #{$root}__textbox{
          position: unset;
          transform: unset;
          box-shadow: unset;
          padding: 0;
          // color: $secondary-color;
          width: 100%;
          background: none;
        }
        #{$root}__links{
          margin-top: unset;
          margin-left: 0;
        }
        
        #{$root}__tech{
          margin-top: 0.5rem;
          margin-left: 0;
        }
      }
    }
    &__other-projects{
      &__header{
        font-size: 1.5rem !important;
      }
  
      &__folders{
        grid-template-columns: repeat(2, 250px);
        margin: 0 2rem;
        margin-top: 2rem;
      }
    }
  }
}

@include mediaXs {
  .projects {
    p {
      font-size: 1rem;
    }
    &__other-projects{
      &__header{
        font-size: 1.5rem !important;
      }
  
      &__folders{
        grid-template-columns: minmax(100%, 300px);
        margin: 0 2rem;
        margin-top: 2rem;
      }
    }
  }
}
