.projects {
  opacity: 0;
  transform: translateX(-2rem);
  transition: opacity ease 0.9s, transform ease 0.9s;

  &.visible {
    transform: translateX(0rem);
    opacity: 1;
  }

  h1 {
    font-family: "Product Sans Regular";
    color: $primary-color;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  &__project-container {
    $root: ".project-container";
    // position: relative;
    margin-bottom: 5rem;
    display: flex;
    width: 100%;
    height: 20rem;
    
    #{$root}__image {
      width: 55%;
      height: 20rem;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      position: relative;
      box-shadow: 4px 4px 15px rgba($color: #000000, $alpha: 0.1);

      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: lighten($background-primary-color, 20), $alpha: 0.2);
        transition: background 0.2s ease;
        cursor: pointer;
      }
      &:hover::after{
        background: rgba($color: lighten($background-primary-color, 20), $alpha: 0.0);          
      }
    }

    #{$root}__description {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      width: 45%;
      color: $secondary-color;
      font-family: "Product Sans Regular", "Roboto", sans-serif;
      position: relative;

      #{$root}__textbox {
        box-shadow: 4px 4px 15px rgba($color: #000000, $alpha: 0.1);
        padding: 2rem 1.5rem;
        color: $primary-color;
        display: flex;
        align-items: center;
        height: 10rem;
        width: 120%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background: lighten($color: $background-primary-color, $amount: 3%);
      }
      #{$root}__title {
        font-size: 2rem;
        margin-left: auto;
        font-weight: bold;
      }
      #{$root}__links {
        margin-left: auto;
        margin-top: auto;
        img {
          width: 1.5rem;
        }
      }
    }

    &:nth-child(2n-1) {
      flex-direction: row-reverse;
      #{$root}__textbox {
        right: unset;
        left: 0;
      }
      #{$root}__title {
        margin-left: unset;
      }
      #{$root}__links {
        margin-left: unset;
        margin-top: auto;
      }
    }
  }
}

@include mediaMd {
  .projects {
    h1 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1rem;
    }
    &__project-container {
      $root: ".project-container";

      #{$root}__description{
        #{$root}__title{
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include mediaSm{
  .projects {
    &__project-container {
      $root: ".project-container";
      position: relative;
      width: 100%;
      #{$root}__image{
        width: 100%;
        &::after{
          background: rgba($color:$background-primary-color, $alpha: 0.8)
        }
      }
      #{$root}__description{
        padding: 1rem;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        #{$root}__title{
          color: $primary-color;
        }
        #{$root}__textbox{
          position: unset;
          transform: unset;
          box-shadow: unset;
          padding: 0;
          // color: $secondary-color;
          width: 100%;
          background: none;
          text-align: right;
        }
        #{$root}__links{
          margin-top: unset;
        }
      }
    }
  }
}

@include mediaXs {
  .projects {
    p {
      font-size: 1rem;
    }
  }
}
