.button {
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Fira Mono';
    background: none;
    color: $secondary-color;
    border: $secondary-color solid 1px;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background ease-in 0.1s;

    &:hover {
        background: rgba($color: #fff, $alpha: 0.1);
    }
}