.nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0 8rem;
    // background: rgba($background-primary-color, 0.5);
    background: rgba($color: $background-primary-color, $alpha: 0.8);
    z-index: 100;

    // border-bottom: white 1px solid;

    .nav__brand {
        color: $primary-color;
        font-size: 2.2rem;
        opacity: 0;
        animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
        font-family: 'Fira Mono';
    }

    .nav__toggle {
        display: none;
    }

    .nav__links {
        display: flex;
        margin-left: auto;
        list-style: none;

        li {
            position: relative;

            a {
                font-family: 'Fira Mono';
                color: $primary-color;
            }

            &:not(:last-child) {
                margin-right: 3rem;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: -8px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-color;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s ease;
                }

                &:hover::after,
                &.visible::after {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }

        }
        &__contact{
            display: none;
            margin-top: 2rem;
            transition: opacity ease 0.5s;
            a{
                width: 3rem;
                height: 3rem;
                &:not(:last-child){
                    margin-right: 1.5rem;
                }
                img{
                    width: 2rem;
                    height: 2rem;
                    transition: transform 0.5s ease;
                    &:hover{
                        transform: translateY(-0.5rem);
                    }
                }
            }
        }

        opacity: 0;
        animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
    }
}

@include mediaLg {
    .nav {
        padding: 0 4rem;
        height: 4rem;
        .nav__brand {
            font-size: 1.6rem;
        }

        .button{
            padding: 0.5rem 1rem;
        }
    }
}


@include mediaMd {
    .nav {
        padding: 0 2rem;
        height: 4rem;

        .nav__brand {
            font-size: 1.7rem;
            opacity: 0;
        }

        .nav__toggle {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 2.5rem;
            width: 3rem;
            margin-left: auto;
            background: none;
            padding: 0;
            border: $primary-color;
            position: relative;

            .nav__hamburger {
                position: relative;
                z-index: 7;
                height: 3px;
                width: 3rem;
                border: 1px solid $secondary-color;
                border-radius: 2px;

                &:nth-child(1) {
                    position: relative;
                    width: 1.5rem;
                    transition: all ease 0.3s;
                }

                &:nth-child(3) {
                    position: relative;
                    width: 1.5rem;
                    transition: all ease 0.3s;
                }

            }
            
            .nav__links{
                &__contact{
                    display: unset;
                }
            }

            &.toggled {
                .nav__hamburger {
                    &:nth-child(1) {
                        transform: translateX(13px) translateY(5px) rotate(30deg);
                    }

                    &:nth-child(3) {
                        transform: translateX(13px) translateY(-4px) rotate(-30deg);
                    }
                }
            }
        }

        .nav__links {
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 5;
            background-color: lighten($color: $background-secondary-color, $amount: 2%);
            height: 100vh;
            width: 75%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            transition: transform ease 0.5s;

            li {
                margin-right: 0 !important;
            }

            &.toggled {
                transform: translateX(-100%);
            }
        }
    }
}



@keyframes nav-appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}