@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('../assets/fonts/ProductSans/ProductSans-Regular.woff') format('woff');
}
