*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

a {
    text-decoration: none;
    text-emphasis: none;

    &:focus {
        outline: none;
    }
}

input, button:focus {
    outline: none;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: $background-primary-color;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

input:focus, textarea:focus{
    outline: none;
}

textarea{
    resize: none;
}


.content{
    display: none;
    &.appear{
        display: block;
    }
}


.loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background: black;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    img{
        width: 5rem;
        animation: rotate-logo 1.5s ease 0s infinite normal;
    }

    &.dissappear{
        display: none;
    }
}

@keyframes rotate-logo{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(356deg);
    }
}